$AuthAnimation: entrancePages 1s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal forwards;
.entrance-page{
    animation: $AuthAnimation;
}

@keyframes entrancePages {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}