html {
    scroll-behavior: smooth;
    width: 100%;
    min-height: 100vh;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

#app {
    min-height: 100vh;
    position: relative;
    padding-bottom: 250px;
}

footer{
    bottom: 0;
    height: 180px;
}

.bg{
    &-light-hover:hover{
        background-color: #F9F8FC!important;
    }
    &-grey-hover:hover{
        background-color: #E7E7E8!important;
    }
}

