html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

#app {
    height: 100%;
}

.bg{
    &-light-hover:hover{
        background-color: #F9F8FC!important;
    }
    &-grey-hover:hover{
        background-color: #E7E7E8!important;
    }
}

